
@import "mixins/normalize";
@import "mixins/gsapLineAnimation";
@import 'mixins/avalonAnimation';
@import "mixins/buttons";

:root{
  font-size:16px;
}
body {
  --primary: var(--tangerine);
  --primaryHighlight: var(--tangerine-10);
  --accent: var(--sea-foam);
  --accentHighlight: var(--sea-foam-10);
  --warning: var(--red);
  --warningHighlight: var(--red-10);
  --success: var(--green);
  --successHighlight: var(--green-10);

--blue-grey: hsl(190, 3%, 36%);
--blue-grey-10: hsl(190, 3%, 46%);
--blue-grey-010: hsl(190, 3%, 26%);

--sea-foam: hsl(175, 20%, 62%);
--sea-foam-10: hsl(175, 20%, 72%);
--sea-foam-010: hsl(175, 20%, 52%);

--banana: hsl(43, 99%, 72%);
--banana-10: hsl(43, 99%, 82%);
--banana-010: hsl(43, 99%, 62%);

--tangerine: hsl(11, 74%, 58%);
--tangerine-10: hsl(11, 74%, 68%);
--tangerine-010: hsl(11, 74%, 48%);

--old-brick: hsl(9, 48%, 36%);
--old-brick-10: hsl(9, 48%, 46%);
--old-brick-010: hsl(9, 48%, 26%);

// DARKER COLOR


// LIGHTER COLOR


  --green: hsl(119.3,34.7%,52%);
  --green-10: hsl(79,43.3%,52.9%);

  --red: hsl(5.2,66.4%,44.3%);

  --xBlack: hsl(0, 0%, 10%);
  --black: hsl(0, 0%, 10%);
  --black-30: hsl(0, 0%, 30%);
  --black-40: hsl(0, 0%, 40%);
  --black-50: hsl(0, 0%, 50%);
  --white-60: hsl(0, 0%, 60%);
  --white-70: hsl(0, 0%, 70%);
  --white-80: hsl(0, 0%, 80%);
  --white-90: hsl(0, 0%, 90%);
  --white: hsl(0, 0%, 100%);
  --twitter: hsl(196, 100%, 46%);
  --facebook: hsl(221, 44%, 41%);
  --google: hsl(7, 71%, 55%);
  --youtube: hsl(0, 100%, 37%);


  --baseFontSize: 1rem;
  --baseNavSize: 0.64rem;
  --smallFontSize: 0.8rem;
  --smallestFontSize: 0.512rem;
  --xtra-big-ass-heading: 3.052rem;
  --xtra-heading: 2.441rem;
  --heading-1: 2rem;
  --heading-2: 1.763rem;
  --heading-3: 1.25rem;
  --heading-4: var(--baseFontSize);
  --heading-5: var(--smallFontSize);
  --heading-6: 0.64rem;
  --heading-7: var(--smallestFontSize);
  // --headingFont: "Poppins",sans-serif;
  --bodyFont: 'Raleway', sans-serif;
  --paragraphPadding: 1.2rem 0;
  --containerMax: 1000px;

  --level-0: inset 0 7px 9px -7px rgba(0, 0, 0, 0.7);
  --level-1: 0 1px 3px rgba(0, 0, 0, 0.12),0 1px 2px rgba(0, 0, 0, 0.24);
  --level-2: 0 3px 6px rgba(0, 0, 0, 0.16),0 3px 6px rgba(0, 0, 0, 0.23);
  --level-3: 0 10px 20px rgba(0, 0, 0, 0.1),0 6px 6px rgba(0, 0, 0, 0.1);
  --level-4: 0 14px 28px rgba(0, 0, 0, 0.25),0 10px 10px rgba(0, 0, 0, 0.22);
  --level-5: 0 19px 38px rgba(196, 183, 183, 0.3),0 15px 12px rgba(0, 0, 0, 0.22);

  --transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86) all;

  line-height: 1.8rem;



  h1 {
    font-size: var(--xtra-big-ass-heading);
    font-family: var(--bodyFont);
    font-weight: 900;

  }
  h2 {
    font-size: var(--xtra-heading);
    font-family: 'Elsie', sans-serif;
    font-weight: 900;
  }
  h3 {
    font-size: var(--heading-3);
    color: var(--old-brick);
    font-family: var(--bodyFont);
  }
  h4 {
    font-size: var(--heading-4);
    font-family: var(--bodyFont);
  }
  h5 {
    font-size: var(--heading-5);
    font-family: var(--bodyFont);
  }

}
