
.btn {
 color:white;
 text-decoration:none;
 border-radius:3px;
 font-size:var(--baseFontSize);
 background: var(--primary);
 cursor: pointer;
 padding: 10px 20px;
 margin: 20px 20px 20px 0;
 display: block;
 &.center {
   margin: 20px auto;
 }
&:hover {
  background-color: var(--primaryHighlight);
}
}
