
.btn {
 color:white;
 text-decoration:none;
 padding:5px 10px;
 border-radius:3px;
 font-size:var(--baseFontSize);
 background: var(--primary);
 cursor: pointer;
 padding: 10px 20px;
 margin: 20px 20px 20px 0;
 display: block;
&:hover {
  background-color: var(--accent);
}
}
